@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
      display: none;
  }
  .no-scrollbar {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
  }
}

@layer base {
  html {
    @apply font-sans text-neutral-800 bg-background;
  }

  html, body {
    @apply max-w-full overflow-x-clip;
  }

  h1 {
    @apply text-heading-1 text-neutral-900 mb-6;
  }

  h2 {
    @apply text-heading-2 text-neutral-900 mb-4;
  }

  h3 {
    @apply text-heading-3 text-neutral-900 mb-4;
  }

  p {
    @apply text-body text-neutral-700 mb-4;
  }

  a {
    @apply text-link-small text-primary-600 transition-colors;
  }

  /* For links that should be excluded from the default styling */
  .nav-link {
    @apply text-neutral-600 hover:text-neutral-900;
  }

  /* Add these styles for lists */
  ol {
    @apply list-decimal list-inside mb-4 ml-4;
  }

  ul {
    @apply list-disc list-inside mb-4 ml-4;
  }

  /* If you want nested lists to have proper indentation */
  ol ol,
  ul ul,
  ol ul,
  ul ol {
    @apply ml-4;
  }

  br {
    @apply my-2;
    content: "";
    display: block;
  }

  .br-sm {
    @apply my-1;
  }

  .br-lg {
    @apply my-4;
  }

  @screen desktop {
    h1 {
      @apply text-desktop-heading-1 text-neutral-900 mb-6;
    }

    h2 {
      @apply text-desktop-heading-2 text-neutral-900 mb-4;
    }

    h3 {
      @apply text-desktop-heading-3 text-neutral-900 mb-4;
    }

    a {
      @apply text-link text-primary-600 hover:text-primary-700 transition-colors;
    }
  }
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}